/* Import partial files */
@use 'variables.sass'
@use 'global.sass'
@use 'navigation.sass'
@use 'slider.sass'
@use 'portfolio.sass'

#div1 
    height: 500
    border: 2px solid black

#div2 
    height: 5000px
    border: 2px solid black
