/* Import color variables */
@use 'variables.sass'
@use 'global.sass'
@use 'navigation.sass'

#div1 
    height: 2000px
    border: 2px solid black

#div2 
    height: 500px
    border: 2px solid black